@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
header{
    background-color: #FFF8F3;
}
header nav{
    display: flex;
    justify-content: space-between;
    /* margin: 50px 230px; */
    padding: 20px 230px;
}
nav h1{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin-right: 30px;
}

ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    cursor: pointer;
}

ul li button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0 230px;
}

.banner-content{
    width: 600px;
    height: 100%;
    margin-top: 200px;
}