@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
header{
    background-color: #FFF8F3;
}
header nav{
    display: flex;
    justify-content: space-between;
    /* margin: 50px 230px; */
    padding: 20px 230px;
}
nav h1{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin-right: 30px;
}

ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    cursor: pointer;
}

ul li button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0 230px;
}

.banner-content{
    width: 600px;
    height: 100%;
    margin-top: 200px;
}
.banner-content h3{
    font-size: 45px;
    font-weight: 700;
    color: #474747;
}

.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.banner-content p{
    font-size: 16px;
    line-height: 30px;
    color: #757575;
    margin: 20px 0;
}
.banner-content button{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
/* .banner img{
    width: 80%;
    height: auto;
} */

 .about-me{
    background-color: #FFF8F3;
    margin: 100px auto;
    max-width: 1140px;
    height: 100%;
    padding: 130px 160px;
 }
 .about{
    background-color: white;
    text-align: center;
    padding: 20px;

 }
  .about h4{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 50px;
  }
   .about p{
    color: #757575;
    font-size: 16;
    padding: 0 30px;
   }

.info{
    background-color: white;
    display: flex;
    justify-content: space-between;
 }

.about-details{
    margin: 50px 30px 5px 30px;
    text-align: center;

  
}

.about-details .name{
    font-size: 20px;
    color: #474747;
}

.about-details .value{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
.skills-section{
    max-width: 1140px;
    margin: 130px auto;
}
.skill{
    text-align: center;
    padding: 0 30px;
}
.skill h2{
    font-size: 35px;
    font-family: bold;
    color: #181818;
}
.skill p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin: 20px 0;
}
.card-content{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.skills-card{
    padding: 30px 10px;
    background-color: #FFFfff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}
.skills-card h4{
    margin: 30px 0;
    font-size: 20;
    font-weight: bold;
    color: #181818;
}
.skills-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume{
    max-width: 1140px;
    margin: 50px auto;
}

.resume .resume-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin-bottom: 50px;
    /* text-align: center; */
}
.resume-details{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.education-sec h2, .experience h2{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.edu-details h4, .exp-details h4{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin: 10px 0;
}

.edu-details h5, .exp-details h5{
    font-size: 20px;
    font-weight: 700;
    color: #757575;
    margin-bottom: 20px;
}
.edu-details p, .exp-details p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 20px;
}
hr{
    padding-right: 10px;
}
.resume button{
    padding: 10px 15px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    /* text-align: center; */
    margin: 40px auto;
    display: block;
}
footer{
    background-color: #FFF8F3;
    margin-top: 100px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0 auto;
    padding: 170px 0;
}
.link h2, .massege h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.link p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 20px;
}
.link img{
    color: #FD6E0A;
    margin-right: 20px
}
form input{
    width: 100%;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #757575;
    font-size: 20px;
    /* display: block; */
    background-color: white;
}

.massege .btn{
    padding: 10px 30px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    display: block;
}
/* .massege textarea{
    height: 180px;
    width: 460px;
} */